<!DOCTYPE html>
<html>
    <head>
        <title>Ventas</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <a href="ejemplo5.html">Back</a>
        <a href="index.html">Home</a>
        <a href="ejemplo7.html">Next</a>
        <br>
        <h1>Ejeplo de listas</h1>
        <ul><li>Elemento 1</li>
            <li>Elemento 2</li>
            <li>Elemento 3</li>
            <li>Elemento 4</li>
            <li>Elemento 5</li>
        </ul>
 <div>Saludos</div>
      <p th:text="${texto}"></p>
      <h1>Un cliente</h1>
        <p>Nombre:<span th:text="${cliente.nombre}"></span></p>
        <p>Apellidos:<span th:text="${cliente.apellidos}"></span></p>
        <p>Correo:<span th:text="${cliente.correo}"></span></p>
        <p>Telefono:<span th:text="${cliente.telefono}"></span></p>
        <br>
        <br>
        <ol><li>Elemento 1</li>
            <li>Elemento 2</li>
            <li>Elemento 3</li>
            <li>Elemento 4</li>
            <li>Elemento 5</li>
        </ol>
        <ol type="a"><li>Elemento 1</li>
            <li>Elemento 2</li>
            <li>Elemento 3</li>
            <li>Elemento 4</li>
            <li> <ul><li>Elemento 1</li>
            <li>Elemento 2</li>
            <li>Elemento 3</li>
            <li>Elemento 4</li>
            <li>Elemento 5</li>
        </ul></li>
        </ol>
    </body>
</html>
